html, body{
    height: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
}

#mainBody{
    min-height: 100vh!important;
}

.icon-bar{
   background-color: #c1ffd8!important;
}

#contactBody{
    min-height: 100vh!important;
}

.row{
    height: 100%;
}

.col-md-3{
    padding: 0;
    height: 100%;
}

.col-md-9{
    padding: 0;
    height: 100%;
}

#mainBackground{
    background-image: url("../../images/homeBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

#profPic{
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    height: 80%;
    width: 80%;
    top: 0;
}

.workTitle{
    text-align: center;
    margin-top: 5%;
}

#firstName{
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    display: inline;
    line-height: 2.5;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Raleway', sans-serif!important;
    text-shadow: 1px 1px 11px rgba(0,0,0);
}

#workTitle{
    color: #fff;
    font-size: 18px;
    display: inline;
    margin-left: auto;
    text-shadow: 1px 1px 11px rgba(0,0,0);
}

#theNav{
    background-image: linear-gradient(rgba(88, 88, 88, 0.897), rgba(88, 88, 88, 0.897)),
    url("../../images/sidebarBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Raleway', sans-serif;
}

a{
    color: #c1ffd8;
}

.navbar{
    display: block;
}

#navbar{
    position: absolute;
    bottom: 0;
}  

.navbar-nav{
    display: inline;
}

#navDiv{
    background-image: url("../../images/sidebarBackground.jpg");
}

.navbar-nav>li>a{
    color: #c1ffd8!important;
    font-size: 14px;
    margin-bottom: 14px;
    text-shadow: 1px 1px 11px rgba(0,0,0);
}

.navLink, #nameTitle{
    transition: all .2s ease-out!important;
    -moz-transition: all .2s ease-out!important;
    -webkit-transition: all .2s ease-out!important;
}

.navLink:hover, #nameTitle:hover{
    transform: scale(1.2)!important;
    color: #c1ffd8!important;
    text-decoration: none;
}

.li{
    margin: 0px;
}

#homeText{
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    animation: mainMove;
    animation-duration: 1s;
    -webkit-animation: mainMove; /* Safari */
    -webkit-animation-duration: 1s; /* Safari */
}

.mainText{
    font-size: 50px;
    font-weight: bolder;
    color: #fff;
    font-family: 'Raleway', sans-serif!important;
    text-shadow: 1px 1px 11px rgba(0,0,0);
}

@keyframes mainMove {
    from {right: 200px}
    to {right: 0px;}
  }

/* Safari */
@-webkit-keyframes mainMove {
    from {right: 200px;}
    to {right: 0px;}
  }

#aboutBackground{
    background-image: linear-gradient(rgb(139, 139, 139, 0.8), rgba(139, 139, 139, 0.8)),
    url("../../images/homeBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding: 20px;
}

#aboutPic{
    height: 278px;
    width: 278px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#aboutCol{
   margin: auto;
   font-family: 'Raleway', sans-serif;
   font-weight: bold;
}

#aboutCol p{
    color: rgb(34, 34, 34);
    font-size: 18px;
    text-shadow: 1px 1px 11px rgb(182, 182, 182);
 }

#aboutCol h1, #contactHead{
    color: #fff;
    text-shadow: 1px 1px 11px rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 11px rgba(0,0,0);
}

#aboutPicCol{
    display: none;
}

.portCol{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

[class*="col-md-6"]:not(:last-child){
    margin-bottom: 20px!important;
}

[class*="col-md-6"]:last-child{
    margin-bottom: 20px!important;
}

.portColTitle h2{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 11px rgba(0,0,0);
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}

.portCol h4{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 1px 11px rgba(0,0,0);
}

.pubTitle{
    color: rgb(90, 89, 89)!important;
    font-weight: bold;
    text-align: left;
    text-shadow: 1px 1px 11px #fff!important;
    transition-duration: 1s;
}

#portBody{
    min-height: 100vh!important;
}

.portImage{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid;
    border-color: #c1ffd8;
    padding: 4px;
    box-shadow: 1px 1px 11px rgba(0,0,0);
    }

#portBackground{
    background-image: linear-gradient(rgb(139, 139, 139, 0.8), rgba(139, 139, 139, 0.8)),
    url("../../images/homeBackground.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20px;
    height: auto;
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: #c1ffd8;
    border-radius: 100%;
    height: 240px;
    width: 240px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .portWork{
      position: relative;
      margin-left: auto;
      margin-right: auto;
      display: block;
  }

  .portWork:hover .overlay{
      opacity: 1;
  }

  .newsHover{
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      background-color: rgb(90, 89, 89);
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .pubCard:hover .newsHover{
      opacity: 1;
  }

  .portText{
    color: rgb(90, 89, 89);
    /* text-shadow: 1px 1px 11px rgba(0,0,0); */
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    }

.portLink{
    background-color: #c1ffd8!important;
    color: rgb(90, 89, 89)!important;
    /* text-shadow: 1px 1px 12px rgba(0,0,0); */
    margin-top: 10px;
}

.portTitle{
    color: #fff;
    text-shadow: 1px 1px 11px rgba(0,0,0);
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    margin-top: 20px;
}

.portLink:active, .portLink:focus, .portLink:active:focus, .portLink.active:focus {
    outline: none !important;
    box-shadow: none!important;
    background-color: #76b98f!important;
}

.portLink:hover{
    background-color: #c1ffd8!important;
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover)!important;
    transform: translateY(-0.25em)!important;
}

.portDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.pubCard{
    border-color: #c1ffd8;
    border-width: 5px;
    width: 300px;
    height: 100%;
    background-color: #c1ffd8;
}

.pubCard:hover{
    text-decoration: none!important;
}

.pubImage{
    height: 15vw;
    object-fit: cover;
}

.pubImage:hover {
    opacity: 0.5;
    background-color: rgb(90, 89, 89);
}

.card-body{
    background-color: #c1ffd8;
    transition-duration: 1s;
}

.card-text{
    text-align: left;
}

a.pubLink:link, a.pubLink:visited, a.pubLink:hover, a.pubLink:active{
    text-decoration: none;
}

.card-body:hover{
    transform: translateY(-1em);
}

.btn-primary:active{
    background-image: none!important;
}

/* .fab{
    padding: 40px;
    font-size: 30px!important;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  } */

  .fa-youtube, .fa-newspaper{
      margin-right: 10px;
  }

  .fa-linkedin, .fa-github, .fa-envelope, .fa-phone{
    padding: 40px;
    font-size: 30px!important;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin-right: 45px;
    margin-left: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
  }

  .fa-linkedin, .fa-github, .fa-envelope, .fa-phone {
    background: #c1ffd8;
    color: white;
    text-shadow: 1px 1px 11px rgba(0,0,0);
  }

  .fa-linkedin:hover, .fa-linkedin:focus, .fa-github:hover, .fa-github:focus, .fa-envelope:hover, .fa-envelope:focus, .fa-phone:hover, .fa-phone:focus{
    text-decoration: none;
    color: rgb(90, 89, 89);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    text-shadow: 1px 1px 11px rgb(255, 255, 255);
  }

  .fa-envelope{
      padding-left: 37px;
  }

#contactCol{
    margin: auto;
    display: block;
    height: 100%;
}

#contactHead{
    margin-bottom: 40px;
}

#contactButtons{
    animation: contactMove;
    animation-duration: 1s;
    -webkit-animation: contactMove; /* Safari */
    -webkit-animation-duration: 1s; /* Safari */
}

@keyframes contactMove {
    from {top: -1000px}
    to {top: 0px;}
  }

/* Safari */
@-webkit-keyframes contactMove {
    from {top: -1000px;}
    to {top: 0px;}
  }

@media screen and (max-width: 767px){

    #navbar{
        position: relative;
    }
    
    #profPic{
        display: none;

    }
    #workTitle{
        display: none;
    }

    #aboutPicCol{
        display: block;
    }

    .pubImage{
        height: 30vw;
    }
}

@media screen and (max-width: 426px) {
    #aboutBackground{
        height: auto;
    }
  }